.modal.fade(tabindex="-1" role="dialog" id="subscribe")
    .modal-dialog.modal-md
        .modal-content
            .modal-body
                i.fa.fa-close.pull-right.fa-2x( data-dismiss="modal" aria-label="Close")
                h4.modal-title Subscribe to Newsletter
                |Newsletter Content
            .modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") Close
                button.btn.btn-primary(type="button") Join
