header#hl_global_header.hl-font-awesome.hl-bootstrap
    .container
        .logo
            a(href="/")
                img( src="/assets/img/hl-logo.png")
        nav
            ul#topic_center
                li.collapse
                    a(href="javascript:void(0)")
                        |Skin Disorders
                        i.fa.fa-chevron-down
                        i.fa.fa-chevron-up
                    .dropdown
                        .container-fluid
                            ul
                                li
                                    a(href="") Overview
                li.collapse.topics
                    a( href="javascript:void(0)")
                        |Topics &amp; Tools
                        i.fa.fa-chevron-down
                        i.fa.fa-chevron-up
                    .dropdown.fluid
                        .container-fluid
                            h2
                                i.fa.fa-copy
                                |&nbsp;Health Topics
                            .row
                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies


                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies
                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies
                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies
                            h2
                                i.fa.fa-stethoscope
                                | &nbsp;Health Tools

                li
                    a( href="" id="digioh_newsletter_signup_trigger")
                        | Subscribe
                li.social-media
                    a( href="https://www.facebook.com/healthlinenetworks/" target="_blank")
                        i.fa.fa-facebook-f
                    a(href="https://twitter.com/healthline" target="_blank")
                        i.fa.fa-twitter
                    a(href="https://www.pinterest.com/healthline/" target="_blank")
                        i.fa.fa-pinterest-p
                li
                    a( id="search-link" data-toggle="modal" data-target=".search-modal")
                        i.fa.fa-search
        .clear
    .modal.fade.search-modal( tabindex="-1" role="dialog")
        .modal-dialog.modal-md
            .row
                .col-md-12
                    a(class="close" data-dismiss="modal" aria-label="Close")
                        i.fa.fa-close.fa-2x
                    .form-group.has-feedback
                        input.form-control.input-lg(type="text")
                        span.fa.fa-search.form-control-feedback


