header#hl_global_header.hl-font-awesome.hl-bootstrap
    .container
        .logo
            a(href="/")
                img( src="/assets/img/hl-logo.png")
        nav
            ul#topic_center
                li.collapse
                    a(href="javascript:void(0)")
                        |Skin Disorders
                        i.fa.fa-chevron-down
                        i.fa.fa-chevron-up
                    .dropdown
                        .container-fluid
                            ul
                                li
                                    a(href="") Overview
                li.collapse.topics
                    a( href="javascript:void(0)")
                        |Topics &amp; Tools
                        i.fa.fa-chevron-down
                        i.fa.fa-chevron-up
                    .dropdown.fluid
                        .container-fluid
                            h2
                                i.fa.fa-copy
                                |&nbsp;Health Topics
                            .row
                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies


                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies
                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies
                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies
                            h2
                                i.fa.fa-stethoscope
                                | &nbsp;Health Tools

                li
                    a( href="")
                        | Subscribe
                li.social-media
                    a( href="")
                        i.fa.fa-facebook-f
                    a(href="")
                        i.fa.fa-twitter
                    a(href="")
                        i.fa.fa-pinterest-p
                li
                    a( href="")
                        i.fa.fa-search
        .clear

