include ../modal/subscribe
include ../modal/search

header#hl_global_header
    .container
        .logo
            a(href="/")
                img( src="/assets/img/hl-logo.png")
        nav.pull-right
            ul#nav-items
                li.collapse.sub-topics
                    a(href="javascript:void(0)")
                        |Skin Disorders
                        i.fa.fa-chevron-down
                        i.fa.fa-chevron-up
                    .dropdown
                        .container-fluid
                            ul
                                li
                                    a(href="") Overview
                li.collapse.topics
                    a( href="javascript:void(0)")
                        |Topics &amp; Tools
                        i.fa.fa-chevron-down
                        i.fa.fa-chevron-up
                    .dropdown.fluid
                        .container-fluid
                            h2
                                i.fa.fa-copy
                                |&nbsp;Health Topics
                            .row
                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies


                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies
                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies
                                .col-md-3
                                    ul
                                        li
                                            a(href="") Acid Reflux
                                        li
                                            a(href="") ADHD
                                        li
                                            a(href="") Allergies
                            h2
                                i.fa.fa-stethoscope
                                | &nbsp;Health Tools

                li.newsletter
                    a(href="#" data-toggle="modal" data-target="#subscribe") Subscribe
                li.social-media
                    a( href="https://www.facebook.com/healthlinenetworks/" target="_blank")
                        i.fa.fa-facebook-f
                    a(href="https://twitter.com/healthline" target="_blank")
                        i.fa.fa-twitter
                    a(href="https://www.pinterest.com/healthline/" target="_blank")
                        i.fa.fa-pinterest-p
                li.search
                    a(href="#" data-toggle="modal" data-target="#search")
                        i.fa.fa-search
        .clear


